<% include ../layouts/header.ejs %>
	<div class="jumbotron">
		<h1>FREE PARK SF</h1>
		<h3>Where and when you can park on the street</h3>
	</div>
	<div class="row">
		<div class="col-xs-offset-5 col-xs-2">
			<form method="GET" action="/signup">
				<button class="btn-lg btn btn-primary">Sign Up</button>
			</form>
		</div>
	</div>
<% include ../layouts/footer.ejs %>