<!DOCTYPE html>
<html>
<head>
	<title>SF FLAT PARK</title>
</head>
<body>
<h1>signup</h1>
<form method="POST" action="/users">
	<input type="text" name="user[email]">
	<input type="password" name="user[password]">
	<button>Submit</button>
</form>

</body>
</html>